<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-information-circled"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <div id="cover" style="height: 200px; background-image: url('img/blue-cover.jpg') ;  background-size: cover;">
        <br/>
        <br/>
        <h3 style="color:#ffffff; font-weight: 900; text-align: center;">Sprint</h3>
    </div>


    <ion-content style="margin-top:150px">
      <ion-list>
          <a menu-close class="item item-icon-left" href="#/app/dashboard">
              <i class="icon ion-ios-home"></i>
              Dashboard
          </a>

          <a menu-close class="item item-icon-left" href="#/app/projects">
              <i class="icon ion-ios-pie"></i>
              Projects
          </a>

          <a menu-close class="item item-icon-left" href="#/app/addProject">
              <i class="icon ion-plus-round"></i>
              Add new Project
          </a>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
